**Topics**
- Tuple
- Dictionary

In [2]:
empty=list()
empty1=[]

In [3]:
t=(1,2)
print(t)

(1, 2)

In [4]:
print(t[0])

1

In [5]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [6]:
t.index(2)

1

In [7]:
t1=(1,2,3,4,1,1)
t1.count(1)

3

In [8]:
t1.count(5)

0

In [9]:
sum(t1),max(t1),min(t1)

(12, 4, 1)

In [10]:
t2=(34,'Python',True,89,5)
print(t2)
print(t2[0])
print(t2[2:])

(34, 'Python', True, 89, 5)
34
(True, 89, 5)

In [11]:
t2[1][2]

't'

In [12]:
t3=(3,4,(34,67))
print(t3[2])
print(t3[2][1])

(34, 67)
67

Create a list of lists,where each sublist consists of 3 subject marks of the student<br>
In each sublist add a new element which is total of three subject marks

In [13]:
student_marks=[[23,56,89],[45,56,76],[99,65,34]]
print(student_marks)

[[23, 56, 89], [45, 56, 76], [99, 65, 34]]

In [29]:
for student in range(len(student_marks)):
    #print(student_marks[student])
    student_marks[student].append(sum(student_marks[student]))
student_marks

[[23, 56, 89, 168], [45, 56, 76, 177], [99, 65, 34, 198]]

In [15]:
a=[6,8,9]
a.append(sum(a))

In [16]:
a

[6, 8, 9, 23]

In [18]:
for i in a:
    print(i)

6
8
9
23

In [19]:
#[7,9,10,24]
for i in a:
    print(i+1)

7
9
10
24

In [20]:
aplus=[]
for i in a:
    aplus.append(i+1)
print(aplus)

[7, 9, 10, 24]

In [21]:
print(a)

[6, 8, 9, 23]

In [22]:
list(range(len(a)))

[0, 1, 2, 3]

In [27]:
for i in range(len(a)):
    a[i]=a[i]+1

In [28]:
a

[9, 11, 12, 26]

In [32]:
#to access element
for i in a:
    print(i,end=' ')
#Line gap between two lists
print()
#To access the elements by using index
for i in range(len(a)):
    print(a[i],end=' ')

9 11 12 26
9 11 12 26

**Dictionary**
- Empty dictionary {},dict()
- {key1:value1,key2:value2}
- key and value are mapped by :
- items are separated by ,
- each items in a dictionary is key,value pair
- keys are unique values

In [33]:
d={'maths' :56,'english':67,'physics':45}
d['maths']

56

In [36]:
d['physics']=77
d

{'maths': 56, 'english': 67, 'physics': 77}

In [37]:
#Add a new item to the dictionary
d['python']=78
d

{'maths': 56, 'english': 67, 'physics': 77, 'python': 78}

In [38]:
for i in d:
    print(i,end=' ')

maths english physics python

In [39]:
#Accessing the values using for loop
for i in d:
    print(d[i],end=' ')

56 67 77 78

In [40]:
#To calculate the sum of the values in the for loop
s=0
for i in d:
    s+=d[i]
print(s)

278

In [41]:
#To access keys
print(d.keys())
#To access values
print(d.values())
#To access key value pairs
print(d.items())#list of tuples in a key value pair

dict_keys(['maths', 'english', 'physics', 'python'])
dict_values([56, 67, 77, 78])
dict_items([('maths', 56), ('english', 67), ('physics', 77), ('python', 78)])

In [42]:
#To calculate the sum of the values in a dictionary
sum(d.values())

278

In [43]:
for key,value in d.items():
    print(key,':',value)

maths : 56
english : 67
physics : 77
python : 78

In [44]:

help(d.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [45]:
d.update({'total':sum(d.values())})
print(d)

{'maths': 56, 'english': 67, 'physics': 77, 'python': 78, 'total': 278}

In [46]:
#To remove an item
d.pop('total')
print(d)

{'maths': 56, 'english': 67, 'physics': 77, 'python': 78}

Create a dictionary with 3 students data<br>
key-student name<br>
value-list of 3 subject marks of the student

In [47]:
std_marks={'Ram':[77,45,34],'Sandy':[56,78,94],'Rose':[67,89,92]}
std_marks

{'Ram': [77, 45, 34], 'Sandy': [56, 78, 94], 'Rose': [67, 89, 92]}

Add total marks as the last element in the list for each student<br>
Example o/p:<br>
{'Ram':[77,45,34,156]}

In [48]:
std_marks['Ram']

[77, 45, 34]

In [49]:
for k,v in std_marks.items():
    std_marks[k].append(sum(v))
std_marks

{'Ram': [77, 45, 34, 156],
 'Sandy': [56, 78, 94, 228],
 'Rose': [67, 89, 92, 248]}