- Point 1
    - **Sub point 1.1**
    - *Sub point 1.2*
    - ***Sub point 1.3***
- Point 2
- Point 3

### Python Introduction
- Python 3
- Python can be used as Functional Programming
- Python can be used as Scripting Programming
- Python initially designed by **Guido Van Rossum** in 1991

In [1]:
# Input and Output Function
# Output Function
print("Hello World")
print("Welcome to Python Programming")

Hello World
Welcome to Python Programming

In [2]:
print("Markdown cell",end = ' ')
print("Code Cell")

Markdown cell Code Cell

In [3]:
#input Function
print("Enter Your Name: ")
a=input(' ')
print('Your Name is',a)

Enter Your Name:
 Sushma
Your Name is Sushma

### Inserting an image using markdown
![image](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQiqgLTL0uhoIc-zjroVZcPdeilplmv67_hDdC3trVrDvrz5QIi)

### Inserting a site using markdown
[site](https://www.facebook.com/)

# Fundamental Data Types
1. int
2. float
3. complex
4. boolean
5. string

In [4]:
#basic example
x=10
print(type(x))

<class 'int'>

In [5]:
print(x)

10

In [6]:
x=3.14
print(type(x))

<class 'float'>

In [7]:
x="apple"
print(type(x))

<class 'str'>

In [8]:
x= True
print(type(x))

<class 'bool'>

In [11]:
x=complex(5,3)
print(type(x))

<class 'complex'>

In [12]:
c1=5+6j
c2=3+6j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(8+12j)
(2+0j)
(-21+48j)

In [13]:
a=10
b=5
a>b

True

In [14]:
s1="abc"
s2="xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [15]:
s1="100"
print(type(s1))

<class 'str'>

In [16]:
i=100
print(type(i))

<class 'int'>

# Data Type Conversions

In [17]:
i=100
print(type(i))
s1=str(i) #str() converts the input into string type
print(type(s1))
f1=float(i) #float() converts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [18]:
s1="200"
print(type(s1))
b=int(s1)
print(type(b))
f=2.5
a=int(f)
print(type(a))
print(a)

<class 'str'>
<class 'int'>
<class 'int'>
2

In [19]:
#a number is given 23456
# digit count
s=23456
print(len(str(s)))

5

In [20]:
#arithmatic operators
a=20
b=30
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a/b)
print(a**b)
print(a//b)

50
-10
600
20
0.6666666666666666
1073741824000000000000000000000000000000
0

In [21]:
x=20 #relational operators
y=10
print(x==y)
print(x!=y)
print(x<y)
print(x>y)

False
True
False
True

In [23]:
x=20 #logical operators
y=30
print(x>=10 and x<=20)
print(x>=5 and x<=20)
print(not x)

True
True
False

In [24]:
str1="abc" #membership operators
print('a' in str1)
print('d' not in str1)

True
True

# conditional statements
1. if
2. elif
3. else

## syntax
- if condition:


 statements
 
- elif condition:
 
 
 
 statements
- else:


statements

In [26]:
#to check the given number is even or odd
n=int(input("Enter the number:"))
if n%2==0:
    print("Even")
else:
    print("Odd")

Enter the number:2
Even

### To check the given number is perfect multiple of 3 and 5

In [28]:
n=int(input("Enter the Number:"))
if n%3==0 and n%5==0:
    print("The number is perfect multiple of 3 and 5")
else:
    print("The number is not a perfect multiple of 3 and 5")

Enter the Number:5
The number is not a perfect multiple of 3 and 5

### To check a given number is positive, negative or zero

In [31]:
n=int(input("Enter the Number:"))
if n==0:
    print("Zero")
elif n<0:
    print("Negative")
else:
    print("Positive")

Enter the Number:-11
Negative

### To check the given year is Leap year or not

In [33]:
n=int(input("Enter an year:"))
if n%4==0:
    print("Leap Year")
else:
    print("Not a Leap year")

Enter an year:2019
Not a Leap year

### To check the person is eligible for voting or not

In [35]:
n=int(input("Enter the age:"))
if n>=18:
    print("Eligible")
else:
    print("Not Eligible")

Enter the age:12
Not Eligible